<h1>Edit a Bookmark</h1>

<%= render 'form' %>

<%= link_to '<button type="button">View</button>'.html_safe, @bookmark %>
|
<%= link_to '<button type="button">Back</button>'.html_safe, bookmarks_path %>
